/*------------------------------------*\\
#PROGRESS BARS
\\*------------------------------------*/

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: var(--bg-layer-2);
    border-radius: var(--radius-md);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--accent-text);
    text-align: center;
    white-space: nowrap;
    background-color: var(--accent);
    transition: width .6s ease;
}

/* Sizing */
.progress-sm {
    height: 0.5rem;
}

.progress-lg {
    height: 1.5rem;
}

/* Colors */
.progress-bar-primary { background-color: var(--primary); }
.progress-bar-success { background-color: var(--success); }
.progress-bar-error { background-color: var(--error); }
.progress-bar-warning { background-color: var(--warning); }
.progress-bar-info { background-color: var(--info); }

/* Striped */
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

/* Animated */
.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    from { background-position: 1rem 0; }
    to { background-position: 0 0; }
} 